[[redirects]]
  from = "/*"
  to = "/index.html"
  status = 200

[build]
  command = "npm run build"
  publish = ".next"

[build.environment]
  NODE_VERSION = "20"
  NEXT_PUBLIC_BACKEND_URL = "https://winsbusana-be.netlify.app"

[[plugins]]
  package = "@netlify/plugin-nextjs"
